<div class="row">
    <div class="col-md-12">

        <!-- Register starts -->

        <div class="logreg">
            <div class="row">
                <div class="col-md-12">
                    <div class="logreg-page">
                        <h3>Een nieuwe groep maken op <span class="color">Elas-NG</span></h3>
                        <hr/>
                        <div class="form">
                            <form class="form-horizontal" name="cf" novalidate>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="name">Groepsnaam *</label>

                                    <div class="col-md-9" ng-class="errClass('cf','name')">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="LETS Herstappe"
                                               ng-model="community.name" required ng-focus>
                                        <span class="help-block" ng-show="errShow('cf','name')">Groepsnaam is verplicht.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="street">Straat *</label>

                                    <div class="col-md-9" ng-class="errClass('cf','street')">
                                        <input type="text" class="form-control" id="street" name="street"
                                               ng-model="community.street" required ng-focus>
                                        <span class="help-block" ng-show="errShow('cf','street')">Straat is verplicht.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="streetnumber">Nummer *</label>

                                    <div class="col-md-3" ng-class="errClass('cf','streetnumber')">
                                        <input type="text" class="form-control" id="streetnumber" name="streetnumber"
                                               ng-model="community.streetnumber" required ng-focus>
                                        <span class="help-block" ng-show="errShow('cf','streetnumber')">Nummer is verplicht.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="streetbus">Bus</label>

                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="streetbus"
                                               ng-model="community.streetbus">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="zipcode">Postcode *</label>

                                    <div class="col-md-3" ng-class="errClass('cf','zipcode')">
                                        <input type="text" class="form-control" id="zipcode" name="zipcode"
                                               ng-model="community.zipcode" required ng-pattern="/^[0-9][0-9][0-9][0-9]$/" ng-focus>
                                        <span class="help-block" ng-show="errShow('cf','zipcode')">Postcode moet uit 4 cijfers bestaan. Bvb. 2060.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="city">Gemeente *</label>

                                    <div class="col-md-9" ng-class="errClass('cf','city')">
                                        <input type="text" class="form-control" id="city" name="city"
                                               ng-model="community.city" required ng-focus>
                                        <span class="help-block" ng-show="errShow('cf','city')">Gemeente is verplicht.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="phone">Telefoon *</label>

                                    <div class="col-md-6" ng-class="errClass('cf','phone')">
                                        <input type="text" class="form-control" id="phone" name="phone"
                                               ng-model="community.phone" required ng-pattern="/^[0-9/ ]*$/" ng-focus>
                                        <span class="help-block" ng-show="errShow('cf','phone')">Het telefoon bevat een fout.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="email">E-mail *</label>

                                    <div class="col-md-9" ng-class="errClass('cf','email')">
                                        <input type="email" class="form-control" id="email" name="email"
                                               ng-model="community.email" required ng-focus>
                                        <span class="help-block" ng-show="errShow('cf','email')">Het e-mail adres is niet correct.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="currencyname">Naam munt (enkelvoudig) *</label>

                                    <div class="col-md-3" ng-class="errClass('cf','currencyname')">
                                        <input type="text" class="form-control" id="currencyname" name="currencyname"
                                               placeholder="duim/pluim"
                                               ng-model="community.currencyname" required ng-focus>
                                        <span class="help-block" ng-show="errShow('cf','currencyname')">Gelieve een naam in te geven voor jullie munt.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="facebook">Facebook (Pubiek)</label>

                                    <div class="col-md-9" ng-class="errClass('cf','facebook')">
                                        <input type="url" class="form-control" id="facebook" name="facebook"
                                               ng-model="community.facebook" ng-focus>
                                        <span class="help-block" ng-show="errShow('cf','facebook')">De URL bevat een fout.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="website">Website</label>

                                    <div class="col-md-9" ng-class="errClass('cf','website')">
                                        <input type="text" class="form-control" id="website" name="website"
                                               placeholder="http://letsvlaanderen.be/herstappe"
                                               ng-model="community.website" ng-focus>
                                        <span class="help-block" ng-show="errShow('cf','website')">De URL bevat een fout.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="email">Admin paswoord *</label>

                                    <div class="col-md-9" ng-class="errClass('cf','adminpassword')">
                                        <input type="password" class="form-control" id="adminpassword" name="adminpassword"
                                               ng-model="community.adminpassword" required ng-focus>
                                        <span class="help-block" ng-show="errShow('cf','adminpassword')">Gelieve een administratief paswoord op te geven.</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-9 col-md-offset-3">
                                        <div class="text-info help-block" ng-show="saved">Je aanvraag is correct geregistreerd !</div>
                                    </div>
                                    <div class="col-md-9 col-md-offset-3">
                                        <a ng-click="save('cf')" class="btn btn-primary">Aanvragen</a>
                                    </div>
                                </div>
                            </form>
                            <div class="lregister">
                                <a href="#/">Terug naar de login pagina.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Login ends -->

        <!-- CTA starts -->

        <div class="cta">
            <div class="row">
                <div class="col-md-10">
                    <!-- First line -->
                    <p class="cbig">LETS Vlaanderen ondersteund nieuwe LETS groepen.</p>
                    <!-- Second line -->
                    <p class="csmall">Wij bieden je gratis alle software aan die nodig is om je LETS groep te starten.
                        We zorgen voor advies rond juridische kwesties. We praten ook met bevoegde instanties om de belangen van LETS te verdedigen.</p>
                </div>
                <div class="col-md-2">
                    <!-- Button -->
                    <div class="button"><a href="/lv">Meer informatie</a></div>
                </div>
            </div>
        </div>

        <!-- CTA Ends -->

    </div>
</div>
