<div class="row">
    <div class="col-md-12">

        <!-- Login starts -->

        <div class="logreg">
            <div class="row">
                <div class="col-md-12">
                    <div class="logreg-page">
                        <h3>Inloggen op <span class="color">Elas-NG</span></h3>
                        <hr />
                        <div class="form">
                            <!-- Login form (not working)-->
                            <form class="form-horizontal" name="logon">
                                <!-- Username -->
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="email">E-mail</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="email" ng-model="email" ng-required>
                                    </div>
                                </div>
                                <!-- Password -->
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="password">Paswoord</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" id="password" ng-model="password" ng-required>
                                    </div>
                                </div>
                                <!--
                                <div class="form-group">
                                    <div class="col-md-9 col-md-offset-3">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>
                                </div>
                                -->
                                <!-- Buttons -->
                                <div class="form-group">
                                    <!-- Buttons -->
                                    <div class="col-md-9 col-md-offset-3">
                                        <a class="btn btn-primary" ng-click="doLogin()">Aanmelden</a>
                                    </div>
                                </div>
                            </form>
                            <hr />
                            <div class="lregister">
                                Nog geen lid van LETS ? <a href="#/register.html">Sluit je aan bij je lokale groep !</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Login ends -->

        <!-- CTA starts -->

        <div class="cta">
            <div class="row">
                <div class="col-md-9">
                    <!-- First line -->
                    <p class="cbig">Wil je een nieuwe LETS groep opstarten ?</p>
                    <!-- Second line -->
                    <p class="csmall">LETS Vlaanderen ondersteund jou en je groep door advies, een lokale website en Elas-NG aan te bieden.</p>
                </div>
                <div class="col-md-3 text-right">
                    <!-- Button -->
                    <div class="button"><a href="#/edit_community.html">Aanvragen</a></div>
                </div>
            </div>
        </div>

        <!-- CTA Ends -->

    </div>
</div>
