<div class="row">
    <div class="col-md-8">

        <h1>Leden</h1>
    </div>
    <div class="col-md-4 text-right">
        Zoeken <input width="200" ng-model="personsFilter">
    </div>
</div>
<div class="blog">
    <div class="row">
        <div class="col-md-12">
            <div class="posts" ng-repeat="person in persons.results | filter:personsFilter">
                <div class="entry">
                    <h4>{{person.$$expanded.firstname}} {{person.$$expanded.lastname}}</h4>
                    <p>
                        {{person.$$expanded.street}} {{person.$$expanded.streetnumber}}<span ng-show="person.$$expanded.streetbus"> bus {{person.$$expanded.streetbus}}</span><br>
                        {{person.$$expanded.zipcode}} {{person.$$expanded.city}}<br>
                        <span ng-show="person.$$expanded.phone"> {{person.$$expanded.phone}}</span><br>
                        <span ng-show="person.$$expanded.email"><a ng-href="mailto:{{person.$$expanded.email}}">{{person.$$expanded.email}}</a><br></span>
                    </p>
                </div>
            </div>
            <!-- Pagination -->
            <div class="paging">
                <span class='current'>1</span>
                <a href='#'>2</a>
                <span class="dots">&hellip;</span>
                <a href='#'>6</a>
                <a href="#">Volgende</a>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>