<div class="row">
    <div class="col-md-8">

        <h1>Recent Vraag en Aanbod</h1>
    </div>
    <div class="col-md-4 text-right">
        Zoeken <input width="200" ng-model="messagesFilter">
    </div>
</div>
<div class="blog">
    <div class="row">
        <div class="col-md-12">
            <div class="posts" ng-repeat="message in messages.results | filter:messagesFilter">
                <div class="entry">
                    <div class="meta">
                        <i class="fa fa-calendar"></i> {{message.$$expanded.posted}} <i class="fa fa-user"></i> {{message.$$expanded.person.$$expanded.firstname}} {{message.$$expanded.person.$$expanded.lastname}} <i class="fa fa-folder-open"></i> <a href="#">Diensten</a></span>
                    </div>

                    <h4>
                        <span ng-show="message.$$expanded.type == 'offer'">(Aanbod) </span>
                        <span ng-show="message.$$expanded.type == 'request'">(Vraag) </span>
                        {{message.$$expanded.title}}
                    </h4>
                    <p>
                        {{message.$$expanded.description}}<br>
                        <span ng-show="message.$$expanded.amount && message.$$expanded.unit">{{message.$$expanded.amount}} duimkes per {{message.$$expanded.unit}}</span>
                        <span ng-hide="message.$$expanded.amount && message.$$expanded.unit">Er werd geen vraagprijs ingegeven.</span>
                        <br>
                        <a href="">Toon alle details...</a>
                    </p>
                </div>
            </div>
            <!-- Pagination -->
            <div class="paging">
                <span class='current'>1</span>
                <a href='#'>2</a>
                <span class="dots">&hellip;</span>
                <a href='#'>6</a>
                <a href="#">Volgende</a>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
