<!DOCTYPE html>
<html lang="en" ng-app="testApp" ng-controller="testController" >
<head>
    <meta charset="utf-8">
    <!-- Title here -->
    <title>TEST</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/flexslider.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/blue.css" rel="stylesheet">

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
</head>

<body class="ng-cloak" ng-cloack>
<!-- Header starts -->
<!-- Content strats -->

<div class="content">
    <div class="container">
        <a ng-click="insertCommunity()" class="btn btn-default">INSERT-NEW-COMMUNITY</a>
        <a ng-click="insertPerson()" class="btn btn-default">INSERT-NEW-PERSON</a>
        <a ng-click="insertMessage()" class="btn btn-default">INSERT-MESSAGE</a>
        <a ng-click="updateMessage()" class="btn btn-default">UPDATE-MESSAGE</a>
    </div>
</div>

<script src="/bowerjs/jquery.min.js"></script>
<script src="/bowerjs/jquery-ui.min.js"></script>
<script src="/bowerjs/bootstrap.min.js"></script>
<script src="/bowerjs/jquery.flexslider-min.js"></script>
<script src="/bowerjs/angular.min.js"></script>
<script src="/bowerjs/angular-route.min.js"></script>
<script src="/bowerjs/angular-flexslider.js"></script>
<script src="/bowerjs/moment-with-locales.min.js"></script>
<script src="js/testapp.js"></script>
</body>
</html>