<div class="row">
    <div class="col-md-12">
        <div class="hero">
            <h3><span>Recente Transacties</span></h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <input id="search" type="text" class="form-control" ng-model="transactionsFilter"
               placeholder="Zoekterm. Beschrijving, Naam van lid, ...">
    </div>
    <div class="col-md-4 text-right">
        <a href="#" class="btn btn-primary">Nieuwe transactie ingeven</a>
    </div>
</div>
        &nbsp;
<div class="blog">
    <div class="row">
        <div class="posts" ng-repeat="transaction in transactions | filter:transactionsFilter">
            <div class="col-md-2">
                <i class="fa fa-calendar"></i> <strong>{{transaction.transactiontimestamp | date:'dd-MM-yyyy'}}</strong>
            </div>
            <div class="col-md-4">
                {{transaction.fromperson.$$expanded.firstname}} {{transaction.fromperson.$$expanded.lastname}} aan {{transaction.toperson.$$expanded.firstname}} {{transaction.toperson.$$expanded.lastname}}
            </div>
            <div class="col-md-4 text-right">
                {{transaction.description}}
            </div>
            <div class="col-md-2 text-right">
                {{transaction.amount}}
            </div>
        </div>
        <div class="col-md-12">
            <!-- Pagination
            <div class="paging">
                <span class='current'>1</span>
                <a href='#'>2</a>
                <span class="dots">&hellip;</span>
                <a href='#'>6</a>
                <a href="#">Volgende</a>
            </div>-->

            <div class="clearfix"></div>
        </div>
    </div>
</div>
