<!-- Testimonials starts -->
<div class="row">
    <div class="col-md-12">
        <ol>
            <li><a ng-click="scrollTo('wat-is-lets')">Wat is LETS ?</a></li>
            <li><a ng-click="scrollTo('hoe-werkt-lets')">Hoe werkt LETS ?</a></li>
            <li><a ng-click="scrollTo('wat-zijn-de-nadelen-van-lets')">Wat zijn de nadelen van LETS ?</a></li>
            <li><a ng-click="scrollTo('lets-vragen')">LETS roept ook vragen op...</a></li>
            <li><a ng-click="scrollTo('vrijwilligerswerks')">Vrijwilligerswerk</a></li>
            <li><a ng-click="scrollTo('niet-alleen')">Je staat er niet alleen voor !</a></li>
            <li><a ng-click="scrollTo('samenvatting')">Samenvatting</a></li>
        </ol>
    </div>
</div>

<div class="testimonial">
    <div class="row">
        <div class="col-md-8">
            <!-- Testimonial hero -->
            <div class="hero">
                <!-- Title. Don't forget the <span> tag -->
                <h3 id="wat-is-lets"><span>Wat is LETS ?</span></h3>
                <!-- para -->
                <p>
                    LETS staat voor "Local Exchange and Trading System"
                </p>
                <p>
                    Vrij vertalen we dit wel eens als "lokaal uitwisselings systeem".
                    Het ruilsysteem in deze vorm ontstond in een plaats in Canada waar op korte termijn de werkverschaffing en dus rechtstreeks de inkomsten van mensen wegtrok.
                    Uit noodzaak gingen zij weer ruilen, maar dan wel op een eigentijdse manier.
                    Nadien heeft het idee zich snel verspreid over de hele wereld.
                </p>
                <p>
                    Eva knipt mijn haar. Precies zoals ik het wil.
                    Gewoon thuis in mijn keuken, terwijl we kletsen over LETS en andere ditjes en datjes.
                    Dat bespaart me heel wat saaie bezoekjes aan het kapperssalon, een hoop tijd en een geforceerde babbel.
                    Ik laat Richard wel eens genieten van een heerlijke maaltijd.
                    Ik kook voor hem dan een extra portie.
                    Voor mij geen werk en voor hem een aangename afwisseling.
                    Richard tuiniert graag.
                    Hij helpt samen met Theo bij Marko de tuin heraanleggen. Een zware klus als je het alleen wil doen, en een onvergetelijke dag met z'n allen. Diezelfde Marko kan dan weer goed sleutelen. Hij herstelt de fiets van Eva in een handomdraai.
                </p>
                <p>
                    <i>
                    Eva doet iets voor mij.
                    Ik doe iets voor Richard.
                    Richard en Theo helpen Marko.
                    Marko doet iets voor Eva.
                    Zo werkt LETS.
                    </i>
                </p>
            </div>
        </div> <!-- col-md -->
        <div class="col-md-4 col-sm-4 col-xs-4">
            <!-- Testimonial #1 -->
            <div class="test">
                "Ik ben een alleenstaande moeder. Ik kan lekker koken en ik organiseer kinderfeestjes. Soms voelde ik me wat alleen. Ik moet met weinig zien rond te komen. Babysit kost geld, dus ik ging niet vaak uit. Via LETS kook ik nu af en toe voor een feestje of receptie en ik hou leuke kindernamiddagen. In ruil komt Philip babysitten en krijg ik planten en struiken uit de tuin van Stef. In kan weer meer uit en heb vaker een leuke babbel.
            </div>
            <div class="test-arrow"></div>
            <div class="tauth"><i class="fa fa-user"></i> Malika, <span class="color">Aalst</span></div>
        </div>

    </div> <!-- row -->

    <div class="row">
        <div class="col-md-8">

            <!-- Testimonial hero -->
            <div class="hero">
                <!-- Title. Don't forget the <span> tag -->
                <h3 id="hoe-werkt-lets"><span>Hoe werkt LETS ?</span></h3>
                <!-- para -->
                <p>
                    <ul>
                        <li><strong>Lokaal</strong> : de leden wonen voornamelijk binnen dezelfde gemeente of regio.</li>
                        <li><strong>Netwerk</strong> : het is een verzameling van personen die lid zijn van de LETS-groep.</li>
                        <li><strong>Ruilen</strong> : alles kan geruild worden, maar het gaat voornamelijk om diensten.</li>
                        <li><strong>Multilateraal</strong> : Ik doe iets voor jou, jij doet iets voor een ander, en een ander doet ooit wel eens iets voor mij.</li>
                        <li><strong>leden</strong> : dit kunnen zowel personen, families als een organisatie zijn</li>
                    </ul>
                </p>
                <p>
                    Het LETS- systeem is automatisch een gesloten systeem dat alleen door de leden gebruikt kan worden.
                    Enkel de LETS-leden hebben afgesproken om met elkaar te handelen en de transacties te waarderen met LETS-eenheden.
                    Voor mensen buiten het LETS-systeem hebben LETS-eenheden geen waarde.
                    Ze zullen ze niet accepteren omdat ze er niets mee zijn.
                </p>
                <p>
                    LETS-leden ruilen onderling hun aanbiedingen en vragen uit.
                    De LETS-groep organiseert enkel het kader waarbinnen het ruilen zich kan ontplooien.
                    Zij stelt de middelen ter beschikking waarbinnen leden met elkaar tot uitwisselingen komen.
                </p>
                <p>
                    Als lid van een LETS-groep ga je eerst nadenken over je aanbiedingen en vragen.
                    Het verloop van een lidmaatschap kan tussen verschillende groepen onderling sterk verschillen.
                    Vanaf je lidmaatschap kan je 'letsen' of concreet: kan je je diensten aanbieden en van andere diensten gebruik maken. Afspraken over uitwisselingen van diensten of producten maken de LETS-leden onderling.
                    Ook dit kan van groep tot groep erg verschillen.
                    Het waarderen van een dienst gebeurt tegenwoordig met online software.
                    De software verrekent de transacties op de standen van de vrager en de gever.
                    Het netto-resultaat van alle verrichtingen is steeds nul.
                    Alles wat op een rekening wordt bijgeteld, gaat er immers op een andere rekening af.
                    Binnen een LETS-groep zijn er dus evenveel schulden als tegoeden.
                </p>
                <p>
                    <strong>Deelnemers hoeven niet bang te zijn 'schulden' te maken in een LETS-systeem</strong>
                </p>
                <p>
                    Zo'n tekort is immers niets anders dan de belofte in een later stadium zelf iets te doen voor een ander LETS-lid.
                    Meer nog: aangezien er steeds evenveel LETS-eenheden positief als negatief staan, is het noodzakelijk dat er mensen onder nul gaan.
                    Er zou anders geen uitwisseling mogelijk zijn!
                </p>
                <p>
                    LETS-groepen letter er doorgaans op dat rekeningen niet te ver onder of boven nul komen te staan met een limiet, anders kan het ruilverkeer stagneren.
                    Door een open boekhouding te hanteren waarin hoge en lage standen zichtbaar zijn, worden mensen gestimuleerd om zo dicht mogelijk in de buurt van het nulsaldo te blijven of elkaar te stimuleren dat te doen.
                </p>
                <p>
                    LETS-eenheden waarderen vooral de hoeveelheid TIJD die er in een product of dienst is geïnvesteerd.
                    Je creëert in feite zelf deze waarde op het moment dat iemand een product of dienst van je afneemt.
                    Na de transactie ben je in het bezit van eenheden die vertegenwoordigen hoeveel tijd, energie of waarde je hebt geïnvesteerd.
                    Tegelijk heeft de persoon die je product of dienst heeft afgenomen, een verplichting aan het geheel om een evenredig aantal eenheden terug te investeren in het systeem.
                    Je maakt uiteraard wel zelf uit met wie je uitwisselt en wat je dan effectief doet.
                </p>
                <p>
                    LETS-groepen bepalen in grote mate zelf hun eigenheid.
                    Die eigenheid hangt af van de aanbiedingen en achtergronden van haar leden.
                    Hoewel veel LETS-groepen grondig van elkaar kunnen verschillen hebben bijna alle groepen een aantal overeenkomsten.
                </p>
                <p>
                    <ul>
                        <li>ze kennen een naam en een waarde toe aan hun lokale (intrestloze) ruileenheden die vaak op tijd zijn gebaseerd</li>
                        <li>ze bakenen hun ruilgebied of grens af in samenspraak met omliggende groepen</li>
                        <li>ze stellen interne regels en limieten op</li>
                        <li>ze installeren een software systeem voor het management</li>
                <li>&hellip;</li>
                    </ul>
                </p>
                <p>
                    <i>
                        Omdat LETS-groepen in Vlaanderen en Wallonië steevast TIJD als waarde-referentie gebruiken zijn het technisch gezien eigenlijk eerder TIJDBANKEN.
                        Door LETS-eenheden op deze manier los te koppelen van de heersende munt zijn ze stabieler.
                    </i>
                </p>
            </div>
        </div> <!-- col-md -->
        <div class="col-md-4 col-sm-4 col-xs-4">
            <!-- Testimonial #1 -->
            <div class="test">
                Voor mij is het het leukste dat je dingen sámen kan doen. Sámen naar toneel met een even grote fan als ik. Maar ook samen schoonmaken. Dat is én plezant, én het gaat veel sneller.
                Ik vind het ook tof dat je een natuurlijke uitwisseling in geven en ontvangen ervaart.
            </div>
            <div class="test-arrow"></div>
            <div class="tauth"><i class="fa fa-user"></i> Jonathan, <span class="color">Antwerpen</span></div>
        </div>

    </div> <!-- row -->


    <div class="row">
        <div class="col-md-8">

            <!-- Testimonial hero -->
            <div class="hero">
                <!-- Title. Don't forget the <span> tag -->
                <h3 id="wat-zijn-de-nadelen-van-lets"><span>Wat zijn de nadelen van LETS ?</span></h3>
                <!-- para -->
                <p>
                    Het aantrekkelijke van LETS is meteen ook de achillespees.
                    Het is immers in principe mogelijk dat een LETS-lid te ver onder nul gaat - met andere woorden een flinke verplichting ten opzichte van de andere LETS-leden opbouwt - en niet goed weet hoe het andere mensen iets kan teruggeven.
                    Soms besluiten leden op dat moment de groep te verlaten.
                </p>
                <p>
                    LETS is geen alles-oplossend wondermiddel.
                    Bij mensen blijven bepaalde remmingen en weerstanden bestaan.
                    Timide mensen zullen binnen LETS ook moeilijker de eerste drempels over geraken.
                    Mensen die moeilijk neen kunnen zeggen, zullen wellicht ook niet het eerste uur assertiever worden.
                </p>
                <p>
                    LETS-groepen draaien vrijblijvend.
                    Het aanbod is soms beperkt en de vraag groot.
                    Leden met een positief saldo kunnen van anderen niet 'eisen' dat op bepaalde vragen onmiddellijk wordt ingegaan.
                </p>
                <p>
                    Mensen moeten vaak zelf het initiatief nemen om bepaalde vragen opgelost te krijgen.
                    En soms kan het lang duren vooraleer anderen op een bepaald aanbod ingaan.
                </p>
                <p>
                    Diensten binnen LETS zijn niet professioneel en dus bij voorbaat op individueel vertrouwen.
                </p>
            </div>
        </div> <!-- col-md -->
        <div class="col-md-4 col-sm-4 col-xs-4">
            <!-- Testimonial #1 -->
            <div class="test">
                Het leukste aan LETS is volgens mij, dat je in de buurt mensen leert kennen.
                Misschien ben je pas onlangs in een stad of gemeente gaan wonen.
                Of woon je er al een tijdje, maar je ben afkomstig van ergens anders.
                LETS is dan een fantastisch middel om mensen te leren kennen.
            </div>
            <div class="test-arrow"></div>
            <div class="tauth"><i class="fa fa-user"></i> Dimitry, <span class="color">Lebbeke</span></div>
        </div>

    </div> <!-- row -->


    <div class="row">
        <div class="col-md-8">

            <!-- Testimonial hero -->
            <div class="hero">
                <!-- Title. Don't forget the <span> tag -->
                <h3 id="lets-vragen"><span>LETS roept ook vragen open...</span></h3>
                <!-- para -->
                <p>
                    <i>Moet ik mijn LETS-activiteiten aangeven aan de belastingen ?</i><br>
                    Misschien krijg je met de belastingsdienst te maken als je een nieuwe LETS-groep opstart.
                    De ervaringen in het buitenland lopen nogal uiteen.
                    In sommige gevallen wil de belasting BTW heffen, in sommige gevallen inkomstenbelasting, maar in de meeste gevallen bemoeit ze zich niet met LETS omdat het om kleine onbeduidende zaken gaat, en daarop belasting heffen zou buiten proporties zijn.
                </p>
                <p>
                    <i>Kan de RVA mij schorsen als ik LETS ?</i><br>
                    RVA Nationaal, de directie werkloosheidsreglementering in het bijzonder, verzond in augustus 2010 een onderricht naar alle RVA-diensten in België.
                    Hierin delen ze mee dat “de cumulatie met werkloosheidsuitkeringen verricht in het kader van lokale uitwisselingssystemen toegelaten is” (Directie werkloosheidsreglementering, plaatselijke ruildiensten, p.2).
                    Dit mits bepaalde voorwaarden te respecteren.
                    De belangrijkste voorwaarde is dat iedere persoon met werkloosheidsvergoeding of brugpensioen wel individueel toestemming móet bekomen via het <a href="http://www.letsvlaanderen.be/LinkClick.aspx?fileticket=5A593538424454384F61413D&tabid=385&stats=false">formulier C45B</a>.
                    <div class="text-center"><a href="http://letsvlaanderen.be/LinkClick.aspx?fileticket=4B6231704836734F3449633D&tabid=424&stats=false">Klik hier voor het RVA-onderricht (PDF).</a></div>
                </p>
                <p>
                    <i>Wat als er zaken stuk gaan bij een LETS-transactie ?</i><br>
                    Ik berokken schade aan iemand terwijl ik 'lets' of omgekeerd; iemand berokkent schade aan mij terwijl hij/zij voor mij 'letst'.
                    Wanneer deze situatie zich in het 'normale' leven voordoet, doe je een beroep op je familiale verzekering.
                    Bij LETS lijkt dit voorlopig ook de enige uitweg.
                    LETS verandert hier niets aan de normale situaties van mens tot mens maar brengt personen alleen samen.
                    <b>Laat je door deze vragen en antwoorden zeker niet afschrikken om een LETS-groep op te starten.</b>
                </p>
            </div>
        </div> <!-- col-md -->

        <div class="col-md-4 col-sm-4 col-xs-4">
            <!-- Testimonial #1 -->
            <div class="test">
                Mijn fiets was dringend aan herstel toe.
                Fietsenmakers trekken hun neus op voor zulke klusjes.
                En àls ze het doen, betaal ik me blauw aan uurloon, voor een belachelijk klusje waar ik per toeval niets van ken.
                Verder stikte diezelfde fiets van de roest.
                Een verflaag zou ideaal geweest zijn, maar met twee linkerhanden bleef het zo.
                Tot ik bij de LETS-groep kwam.
                Lieven, die als hobby fietsen herstelt, hielp mij uit de nood: snel en handig.
                Daarvoor heb ik hem met heel veel plezier ruim gewaardeerd.
            </div>
            <div class="test-arrow"></div>
            <div class="tauth"><i class="fa fa-user"></i> Tinne, <span class="color">Leuven</span></div>
        </div>

    </div> <!-- row -->

    <div class="row">
        <div class="col-md-8">

            <!-- Testimonial hero -->
            <div class="hero">
                <!-- Title. Don't forget the <span> tag -->
                <h3 id="vrijwilligerswerks"><span>Vrijwilligerswerk</span></h3>
                <!-- para -->
                <p>

                <table class="table-bordered" width="100%">
                    <colgroup>
                        <col width="50%" />
                        <col width="50%" />
                    </colgroup>
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <p align="center"><b>Is LETS vrijwilligerswerk ?</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p align="center"><b>Ja</b></p>
                        </td>
                        <td>
                            <p align="center"><b>Nee</b></p>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td>
                            <p>Definitie van vrijwilligerswerk:</p>
                            <ul>
                                <li>
                                    <p><strong>Onbezoldigd</strong> : want wat je terugkrijgt is ook een vrijwillige dienstverlening van een andere letser.</p>
                                </li>
                                <li>
                                    <p><strong>Vrijwillig</strong> : je kunt elke vraag weigeren, wat mensen aanbieden is niet hun professionele job.</p>
                                </li>
                                <li>
                                    <p><strong>Georganiseerd</strong> : LETS wordt (minimaal) georganiseerd om vraag en aanbod op elkaar af te stemmen.</p>
                                </li>
                            </ul>
                            <p>Het is niet zo ongeorganiseerd als burenhulp bijvoorbeeld.</p>
                        </td>
                        <td>
                            <p>Volgens de <i>hoge raad op het vrijwilligerswerk</i> is LETS geen vrijwilligerswerk, maar ligt het in de sfeer van <i>burenhulp</i>.</p>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td>
                            <p><strong>Gevolgen uit de wet op het vrijwilligerswerk:</strong></p>
                            <ul>
                                <li>
                                    <p>vrijwilligers moeten <i>ingelicht worden</i> over het sociale doel van je werking en over het juridische statuut (ben je een VZW of niet)</p>
                                </li>
                                <li>
                                    <p>je moet <i>informeren of er een verzekering is of niet</i>, over geldende onkostenregeling, over de plicht van vrijwilligers tot geheimhouding.</p>
                                </li>
                            </ul>
                            <p>Je kunt deze informatie meegeven op een instapmoment, of op de website zetten.</p>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td>
                            <p><strong>Gevolgen voor werklozen:</strong></p>
                            <ul>
                                <li>
                                    <p>je kunt aan de <i>RVA melden</i> <strong>dat je vrijwilligerwerk</strong> doet via het document C45B (op de website van de RVA te vinden)</p>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <p><strong>Kunnen werklozen burenhulp doen?</strong></p>
                            <p>Hier stopt het rijtje van verplichtingen of noodzakelijkheden, burenhulp doe je op eigen initiatief, en eigen risico. Je raadt je letsers dan best aan om voor een <i>familiale verzekering</i> te zorgen.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </p>
            </div>
        </div> <!-- col-md -->
    </div> <!-- row -->

    <div class="row">
        <div class="col-md-8">

            <!-- Testimonial hero -->
            <div class="hero">
                <!-- Title. Don't forget the <span> tag -->
                <h3 id="niet-alleen"><span>Je staat er niet alleen voor !</span></h3>
                <!-- para -->
                <p>
                    Het belang van LETS zal ondertussen reeds duidelijk zijn: de systemen zijn er mede om de sociale contacten te versterken.
                    Als lid van een LETS-groep nemen je sociale contacten automatisch toe door te handelen met andere LETS-leden.
                    Bij een beginnende groep kan een bestaande vriendenkring of een organisatie een goede uitvalsbasis vormen voor samenwerking.
                    Vooral bij nieuwe leden bestaat een hoge nood aan informatie om meteen op een plezierige manier te kunnen letsen.
                    Maar wie brengt alle juiste informatie tot bij nieuwe leden?
                </p>
                <p>
                    In veel LETS-systemen worden buitenstaanders - nieuwe leden dus - opgevangen door een peter of meter die het functioneren van de groep en de basisregels uit de doeken doet.
                    Deze bewaakt de betrouwbaarheid van het nieuwe lid.
                    Veel groepen werken ook met gezamenlijke instapmomenten met dit voordeel dat een aantal mensen elkaar snel leren kennen en er slechts per groep informatie dient te worden doorgegeven.
                </p>
                <p>
                    Hij of zij helpt bijvoorbeeld bij het bedenken van aanbiedingen en vragen.
                    Het opstellen van een eerste lijst is vaak onwennig.
                    De meeste mensen komen blijkbaar niet op het idee om juist de dingen die ze voor hun plezier doen, in LETS aan te bieden.
                    Omdat we zo sterk gewend zijn aan de combinatie tussen inkomen en verplichtingen, is het even wennen dat het binnen LETS gaat om de lol van het 'geven'.
                    En juist daardoor ontstaat een levend netwerk waar mensen ook met plezier zaken en diensten 'vragen'.
                    Een goede begeleiding zorgt ervoor dat je meteen op het juiste spoor gezet wordt en verhoogt daardoor het socialiserend aspect van een groep.
                </p>
                <p>
                    Het is belangrijk te voorkomen dat mensen binnen LETS zaken gaan aanbieden die ze niet waar kunnen maken.
                    Natuurlijk hoef je niet 'gediplomeerd' te zijn om iets te doen, maar wat je doet, moet je wel goed doen.
                    Slechte diensten zullen immers mensen het systeem doen verlaten.
                    Naarmate een LETS-groep meer slechte diensten in het systeem heeft, wordt de kans groter dat je systeem zal stagneren en uiteindelijk zal verdwijnen.
                    Een peter of meter probeert dit mee te voorkomen.
                </p>
            </div>
        </div> <!-- col-md -->

        <div class="col-md-4 col-sm-4 col-xs-4">
            <!-- Testimonial #1 -->
            <div class="test">
                Iedereen, ongeacht leeftijd, opleiding, maatschappelijke status, geloof of persoonlijkheid kan bij de letskring: iedereen die het een tof systeem vindt en gemotiveerd is er ook werkelijk iets mee te doen.
                De kring draait immers alleen goed als mensen onderhandelen
            </div>
            <div class="test-arrow"></div>
            <div class="tauth"><i class="fa fa-user"></i> Pieter, <span class="color">Gent</span></div>
        </div>

    </div> <!-- row -->

    <div class="row">
        <div class="col-md-8">

            <!-- Testimonial hero -->
            <div class="hero">
                <!-- Title. Don't forget the <span> tag -->
                <h3 id="samenvatting"><span>Samenvatting</span></h3>
                <!-- para -->
                <p>
                    Een LETS-systeem bestaat uit de volgende basiselementen:
                    <ul>
                        <li>
                            <strong>Een groep mensen met een vraag- en aanbodlijst.</strong>
                            Hoe groot de groep moet zijn om het systeem te laten werken is afhankelijk van de groep en het doel van het systeem.
                            Met een minimum van 10 mensen kan een groep meestal vrij vlot starten.
                            In die eerste periode is het DOEN belangrijk, en leren aanvoelen of het goed werkt voor iedereen.
                        </li>
                        <li>
                            <strong>Een eenheden-stelsel.</strong>
                            Bij de opstart van een LETS-systeem moet je de waarde van een LETS-eenheid bepalen.
                            Als maatstaf voor dit stelsel kan alles dienen, zolang de mensen binnen deze gemeenschap deze afspraak onderschrijven.
                            Een voor de hand liggende en veelgebruikte mogelijkheid in Vlaanderen is om de waarde gelijk te maken aan een tijdgebonden gegeven (vb. een uur werken is 20 eenheden).
                            Dat maakt de LETS-groepen zoals wij die kennen eigenlijk tot "tijdbanken".
                        </li>
                        <li>
                            <strong>Een softwaresysteem voor de administratie.</strong>
                            Afhankelijk van de grootte van de LETS-groep kan je dit in het begin al dan niet per computer bijhouden.
                            Als je een LETS-groep wil opzetten die flexibel is, dan moet je administratie op termijn wel makkelijk kunnen werken voor iedereen.
                        </li>
                        <li>
                            <strong>Een gids of krant waarin de LETS-leden kenbaar maken wat ze aan te bieden of nodig hebben.</strong>
                            Deze gids wordt regelmatig herzien en opnieuw (eventueel via de online software) beschikbaar gesteld.
                            Alle LETS-leden kunnen gratis hun vraag en aanbod aanpassen en beheren.
                            En iedereen kan in de software zoeken naar goederen of diensten die hij/zij nodig heeft of hebben wil.
                            In het begin volstaan soms enkele kopietjes en raak je zo makkelijk gestart.
                        </li>
                        <li>
                            <strong>Een manier om diensten te waarderen.</strong>
                            Omdat LETS-eenheden alleen online, in de computer of het notitieboekje bestaan heb je geen papierengeld of munten nodig om te ruilen.
                            Je waardeert of je wordt gewaardeerd aan de hand van een uitgeschreven bon of een online formulier die centraal verwerkt wordt.
                            Een dienst die jij voor iemand verricht hebt, wordt op jouw stand bijgeteld en bij de ontvanger afgetrokken.
                        </li>
                        <li>
                            <strong>Een kerngroep.</strong>
                            Net als in elk systeem moet er gecoördineerd worden.
                            Het werk moet verdeeld worden, taken moeten opgenomen, enzovoort.
                            De manier waarop deze kerngroep samengesteld wordt hangt af van de afspraken die er binnen de LETS-groep worden gemaakt.
                            Maak het in het begin niet te moeilijk en leer stapsgewijs. Overregulering werkt voor niemand prettig.
                        </li>
                    </ul>
                </p>
                <p>
                    Voor veel zaken kan je terecht bij een naburige groep, zij hebben een uitgebouwde groep, een aantal tips en tricks en je bent zo op weg!
                </p>
                <h3>Tenslotte</h3>
                <p>
                    Op lokaal gebied kan LETS inderdaad een stimulans, een methodiek betekenen die vooral sociale structuren versterkt en het leven voor veel mensen inhoudelijk rijker maakt.
                </p>
                <p>
                    <strong>En verder is LETS gewoon plezant.</strong>
                </p>
            </div>
        </div> <!-- col-md -->

        <div class="col-md-4 col-sm-4 col-xs-4">
            <!-- Testimonial #1 -->
            <div class="test">
                De pollekes die ik ontving hebben op zich geen enkele waarde.
                Ze oppotten is dus nutteloos.
                Ze leveren mij alleen wat op als ik ze uitgeef.
                Ik sta dan ook geregeld onder nul.
                Dat is níet negatief. Integendeel, in een letskring staan er altijd evenveel eenheden boven als onder nul.
            </div>
            <div class="test-arrow"></div>
            <div class="tauth"><i class="fa fa-user"></i> Dieter, <span class="color">Oostende</span></div>
        </div>

    </div> <!-- row -->
</div>
